body.custom {

	background-color: #ddd;
}
.hero-convey {
	padding: 30px;
	background: url('../images/img/sl-1.jpg');
	background-size: 800px;
	min-height: 330px;
	margin-bottom: 20px;
}
.hero-results {
	color: #aaa;
	background: rgb(95,95,95);
	min-height: 330px;
	margin-bottom: 20px;
}

.hero-results a {
	color: #fff;
}
.latestBlog img {

	display: none;
	width: 150px;
}
.text-animate-12 {

	line-height: 150%;
}

.block {
	border: 1px solid #eee;
	padding: 10px;
	margin-top: 0px;
}
.member:hover {

	background: #00AEC8;
	color: #fff;
}
.accordion {
	margin-bottom: 0px;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0px 0 0;
}
.logo {
	margin-bottom:10px;
}
.logo .small {
font-size: 25px;
line-height:22px;
color: #bdb9b9;
text-transform:none;
margin-top:24px;
}